<div class="header">
  <h1>Recipe Browser</h1>
  <input type="text" placeholder=" Search your recipe here! " [(ngModel)]="searchRecipe" (ngModelChange)="getRecipe($event)">
</div>

<div>
  <ul *ngIf="searchRecipe.length !== 0">
    <li *ngFor="let recipes of recipeList">
      <div>
        <b>
          <a [attr.href]="recipes.href"> {{recipes.title}} </a>
        </b>
      </div>
      <div>
        <b>Ingredients:</b>
      </div>
      <div>{{recipes.ingredients}}</div>
    </li>
  </ul>
</div>

<div class="center">
  <h4>This web browser has been created by Alexandra Garcia-Gasco for O2O selection process.</h4>
  <h4>Database taken from the
    <a href="http://www.recipepuppy.com/about/api/">Recipe Puppy API</a>
  </h4>
</div>